@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-item {
        @apply m-0 flex-1 md:flex-none;
    }

    .menu-item a {
        @apply block transition duration-500
        hover:text-slate-400 transform hover:scale-110 drop-shadow-2xl
        text-sm text-center
        md:text-xl;
    }

    .text-banner {
        text-shadow: 2px 2px 1px black;
    }

    .card {
        @apply
        flex-1 lg:h-80 border-2 border-slate-600 shadow-xl cursor-pointer
        bg-slate-50 overflow-hidden my-4 lg:mt-10 px-5
        w-full

        transition duration-500
        hover:bg-slate-900
    }

    .card-icon {
        @apply block w-full h-16 mt-4 text-4xl text-center mx-auto
        lg:h-20 lg:mt-12
        transition duration-300
        group-hover:text-5xl group-hover:text-slate-100
        group-hover:lg:text-6xl
        group-hover:animate-show-card-icon

    }
    .card-category {
        @apply w-full font-bold text-center text-xs text-cyan-800
        lg:text-lg
        transition duration-300
        group-hover:text-slate-100
        group-hover:animate-show-card-category
    }
    .card-description {
        @apply text-center text-cyan-600 text-xs
        transition duration-300
        mt-2
        xl:text-xl
        group-hover:text-slate-100
        group-hover:animate-show-card-description
    }

    .section-header {
        @apply flex items-center justify-center bg-title-header w-full h-16 font-extrabold text-4xl tracking-wide leading-10 border
        shadow-header3D
    }

    .article-item {
        @apply w-full h-auto border border-slate-400 mt-5 p-3 bg-slate-50 text-slate-800 shadow-md mx-auto
    }

    .article-data {
        @apply float-right bg-slate-700 h-10 leading-6 p-2 -m-3 text-slate-50 rounded-bl-lg
    }

    .article-data span {
        @apply m-3
    }

    .article-header {
        @apply block text-lg m-1
    }

    .article-header a {
        @apply font-semibold text-cyan-800 hover:underline
    }

    .article-description {
        @apply block my-3 text-base font-sans font-normal
    }
}
